# Operating on Data in Pandas

One of the essential pieces of **NumPy is the ability to perform quick element-wise operations,** both with basic arithmetic (addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.).

**Pandas inherits much of this functionality from NumPy,** and the ufuncs that we introduced are key to this.

** What is the difference? **

Pandas includes a couple useful twists, however: ** for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output **, and ** for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc.**

This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof ones with Pandas.

We will additionally see that there are well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any  ** NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects **.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [1]:
import pandas as pd
import numpy as np

In [31]:
# Create a series from random integers
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4)) # Get 4 random intgers ibetwwen 0-10
ser

0    6
1    3
2    7
3    4
dtype: int32

In [34]:
# Create a dataframe of size 3x4 with colun names A, B, C and D
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D']) # No rows argument
df

   A  B  C  D
0  6  3  8  2
1  4  2  6  4
2  8  6  1  3

#### If we "apply a NumPy ufunc" on either of these objects, the result will be another Pandas object *with the ** indices preserved:***

In [36]:
np.exp(ser) # Apply numpy ufunc "exp" on pandas series object

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [39]:
ser + 1  # internally, ufunc add is applied on pandas series
ser * 2 

# index is preserved

0    12
1     6
2    14
3     8
dtype: int32

Or, for a slightly more complex calculation:

In [40]:
np.sin(df * np.pi / 4)  # ufuncs used - sin, multiply, division

              A         B             C             D
0 -1.000000e+00  0.707107 -2.449294e-16  1.000000e+00
1  1.224647e-16  1.000000 -1.000000e+00  1.224647e-16
2 -2.449294e-16 -1.000000  7.071068e-01  7.071068e-01

#### Any of the ufuncs discussed in can be used in a similar manner.

## UFuncs: Index Alignment by pandas (Useful for missing data)

- For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will align indices in the process of performing the operation.

- This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series

#### Example: combining two different data sources, and find only:
- the top three US states by *area*
- the top three US states by *population*:

In [43]:
# Create two series for area and population

# Area is available for different states - Alaska, Texas, California
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')

# Area is available for different states - California, Texas, New York
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

print(area)
print()
print(population)

Alaska        1723337
California     423967
Texas          695662
Name: area, dtype: int64

California    38332521
New York      19651127
Texas         26448193
Name: population, dtype: int64

#### Let's see what happens when we divide these to compute the population density:

In [44]:
# No population for Alaska
# No area for new York
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

** The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:**

In [46]:
# Union Operation on sets - area and population indices
area.index | population.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

#### --> Pandas marks missing data with NaN (Not a Number) <--
Any item for which one or the other does not have an entry is marked with ``NaN``, or "Not a Number," which is how Pandas marks missing data (see further discussion of missing data in [Handling Missing Data](03.04-Missing-Values.ipynb)).
This index matching is implemented this way for any of Python's built-in arithmetic expressions; any missing values are filled in with NaN by default:

In [47]:
# Add two series with missing data or different indices
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [49]:
# Fill the missing values with zero
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

### Index alignment in DataFrame

A similar type of alignment takes place for *both* columns and indices when performing operations on ``DataFrame``s:

In [50]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                 columns=list('AB'))
A

    A   B
0  13  17
1   8   1

In [51]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
B

   B  A  C
0  3  6  7
1  2  0  3
2  1  7  3

In [52]:
A + B

      A     B   C
0  19.0  20.0 NaN
1   8.0   3.0 NaN
2   NaN   NaN NaN

** Notice that indices are aligned correctly irrespective of their order in the two objects**, and indices in the result are sorted.
As was the case with ``Series``, we can use the associated object's arithmetic method and pass any desired ``fill_value`` to be used in place of missing entries.
Here we'll fill with the mean of all values in ``A`` (computed by first stacking the rows of ``A``):

In [14]:
# Fill the mssing values with mean
fill = A.stack().mean()
A.add(B, fill_value=fill)

      A     B     C
0   1.0  15.0  13.5
1  13.0   6.0   4.5
2   6.5  13.5  10.5

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Row accessing methods in pandas
- ** loc**   --> gets rows (or columns) with particular labels from the index.
- ** iloc ** --> gets rows (or columns) at particular positions in the index (so it only takes integers).
- ** ix **   -->  usually tries to behave like loc but falls back to behaving like iloc if a label is not present in the index.-

In [71]:
s = pd.Series(np.random.randint(1,20, 5), index=["a", "b", "c", "d", "e"])
s

a    3
b    9
c    7
d    5
e    5
dtype: int32

In [74]:
print(s.iloc[:3])

a    3
b    9
c    7
dtype: int32

In [73]:
print(s.loc[:3])

TypeError: cannot do slice indexing on <class 'pandas.indexes.base.Index'> with these indexers [3] of <class 'int'>

In [79]:
# ix works with both label and index
print(s.ix[:3])
print(s.ix['a':'c'])

a    3
b    9
c    7
dtype: int32
a    3
b    9
c    7
dtype: int32

In [80]:
# Works only with label
print(s.loc['a':'c']) # Works based on labels

a    3
b    9
c    7
dtype: int32

## Ufuncs: Operations Between DataFrame and Series

** When performing operations between a ``DataFrame`` and a ``Series``, the index and column alignment is similarly maintained.**
Operations between a ``DataFrame`` and a ``Series`` are similar to operations between a two-dimensional and one-dimensional NumPy array.
Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

In [81]:
A = rng.randint(10, size=(3, 4))
A

array([[6, 8, 7, 4],
       [1, 4, 7, 9],
       [8, 8, 0, 8]])

In [82]:
A - A[0] # Subtract a 0th row from all the rows

array([[ 0,  0,  0,  0],
       [-5, -4,  0,  5],
       [ 2,  0, -7,  4]])

According to NumPy's broadcasting rules (Computation on Arrays: Broadcasting], subtraction between a two-dimensional array and one of its rows is applied row-wise.

In Pandas, the convention similarly operates row-wise by default:

In [85]:
df = pd.DataFrame(A, columns=list('QRST'))
print(df.iloc[0]) # Get zeroth row - iloc --> 

df - df.iloc[0]

Q    6
R    8
S    7
T    4
Name: 0, dtype: int32

   Q  R  S  T
0  0  0  0  0
1 -5 -4  0  5
2  2  0 -7  4

If you would instead like to operate column-wise, you can use the object methods mentioned earlier, while specifying the ``axis`` keyword:

In [18]:
# Column-wise subtraction - use subtract method
df.subtract(df['R'], axis=0)

   Q  R  S  T
0 -5  0 -6 -4
1 -4  0 -2  2
2  5  0  2  7

Note that these ``DataFrame``/``Series`` operations, like the operations discussed above, will automatically align  indices between the two elements:

In [19]:
halfrow = df.iloc[0, ::2]
halfrow

Q    3
S    2
Name: 0, dtype: int64

In [20]:
df - halfrow

     Q   R    S   T
0  0.0 NaN  0.0 NaN
1 -1.0 NaN  2.0 NaN
2  3.0 NaN  1.0 NaN

This preservation and alignment of indices and columns means that operations on data in Pandas will always maintain the data context, which prevents the types of silly errors that might come up when working with heterogeneous and/or misaligned data in raw NumPy arrays.